@import "~bootstrap/scss/bootstrap";

$color1: #7de2d1;
$color2: #339989;
$color3: #2b2c28;
$color4: #00564d;
$color5: #767676;
$white: #fffafb;
$black: #131515;

@mixin background-opacity($color, $opacity: 0.3) {
  background: $color; /* The Fallback */
  background: rgba($color, $opacity);
}

@mixin color-opacity($color, $opacity: 0) {
  color: rgba($color, $opacity);
}

@mixin propertyColor($input, $value) {
  #{$input}: $value !important;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: $white;
    background-color: $black;
  }
}

html {
  scroll-behavior: smooth;
}

.darkAccent {
  color: $color2;

  &-bg {
    @include propertyColor(background-color, $color2);
  }

  &-border {
    @include propertyColor(border-color, $color2);
  }
}

.highlight {
  color: $color1;

  &-bg {
    @include propertyColor(background-color, $color1);
  }

  &-border {
    @include propertyColor(border-color, $color1);
  }
}

.gray {
  color: $color5;

  &-bg {
    @include propertyColor(background-color, $color5);
  }

  &-border {
    @include propertyColor(border-color, $color5);
  }
}

.windowHeight {
  min-height: 100vh;
}

.fullWindowContainer {
  @extend .windowHeight;
  @extend .d-flex;
  @extend .align-items-center;
  @extend .py-5;
}

.backgroundSettings {
  background-size: cover;
  background-attachment: fixed;
}

.listCard {
  @extend .border;
  @extend .border-dark;
  color: $white;
}

.portfolio-nav {
  @extend .navbar-expand-lg;
  @extend .navbar-dark;
  @extend .sticky-top;

  background-color: $black;

  a {
    color: $white;

    &:hover,
    &.active {
      color: $color1 !important;
    }
  }
}

.banner {
  @extend .text-center;
  @extend .justify-content-center;

  @extend .fullWindowContainer;
  @extend .backgroundSettings;

  background-image: url("/banner-bg.jpg");
}

.social-media-btn {
  @extend .me-2;

  color: $white;
  border-color: $white;
  background-color: transparent;

  &:hover {
    color: $white;
    border-color: $color2;
    background-color: $color1;
  }

  &:active,
  &:focus {
    color: $white;
    border-color: $color2;
    background-color: $color2;
  }

  &:focus {
    box-shadow: 0 0 0 0.25rem rgba($color1, 0.5) !important;
  }

  .footer-social &:last-child {
    @extend .me-0;
  }
}

.about {
  @extend .fullWindowContainer;

  background-color: $color4;
  color: $white;

  .profilePic {
    @extend .rounded-circle;
    @extend .mb-3;
    @extend .mb-md-0;
    @extend .border;
    @extend .border-dark;

    height: auto;
    max-width: 100%;

    @include media-breakpoint-up(md) {
      max-width: 80px;
    }
  }

  .cv-btn {
    color: $white;
    border-color: $white;

    &:hover {
      background-color: $color2;
      color: $white;
      border-color: $color2;
    }

    &:active,
    &:focus {
      color: $white;
      border-color: $color2;
      background-color: $color2;
    }

    &:focus {
      box-shadow: 0 0 0 0.25rem rgba($color2, 0.5) !important;
    }
  }
}

.biocard {
  color: $white;
  background-color: $color3;

  .bioAlign {
    @extend .d-flex;
    @extend .flex-column;
    @extend .align-items-md-center;

    border: 0 !important;
    background-color: transparent !important;
    color: $white !important;

    @include media-breakpoint-up(md) {
      @extend .flex-md-row;
    }

    & > div {
      @extend .px-md-3;
    }
  }
}

.workExpBg {
  background-color: $black;
}

.workCard {
  @extend .mb-3;

  @extend .listCard;

  background-color: $color3;
}

.projListBg {
  background-color: $color4;
  color: $white;
}

.projectCard {
  @extend .h-100;

  @extend .listCard;

  background-color: $color3;

  a {
    @extend .link-light;

    text-decoration: none;
  }
}

.footer {
  @extend .py-5;
  @extend .text-center;

  background-color: $black;
}
